## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [36]:
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [37]:
print(data.shape)

(32561, 15)

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [ ]:
number_of_men_and_women = data['sex'].value_counts()
print('Number of men and women: \n', number_of_men_and_women)

Number of men and women:
 sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [9]:
male_mask = data['sex'].str.lower() == 'male'
male_ages = data.loc[male_mask, 'age']
mean_male_age = male_ages.mean()
print('Mean male age: ', round(mean_male_age))

Mean male age:  39

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [11]:
usa_nation_mask = data['native-country'].str.lower() == 'united-states'
people_from_usa = data.loc[usa_nation_mask, 'native-country'].size
number_of_persons = data['native-country'].size
proportion_of_usa_citizens = people_from_usa / number_of_persons * 100
print('Proportion of usa citizens: ', round(proportion_of_usa_citizens))

Proportion of usa citizens:  90

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [20]:
low_salary_mask = data['salary'].str.lower() == '<=50k'
high_salary_mask = data['salary'].str.lower() == '>50k'

low_salary_ages = data.loc[low_salary_mask, 'age']
high_salary_ages = data.loc[high_salary_mask, 'age']

mean_low_salary_age = low_salary_ages.mean()
mean_high_salary_age = high_salary_ages.mean()
print('Mean salary age of those who receives less than 50k per year: ', round(mean_low_salary_age))
print('Mean salary age of those who receives more than 50k per year: ', round(mean_high_salary_age))

std_low_salary_age = low_salary_ages.std()
std_high_salary_age = high_salary_ages.std()
print('Std of age of those who receives less than 50k per year: ', round(std_low_salary_age, 2))
print('Std of age of those who receives more than 50k per year: ', round(std_high_salary_age, 2))

Mean salary age of those who receives less than 50k per year:  37
Mean salary age of those who receives more than 50k per year:  44
Std of age of those who receives less than 50k per year:  14.02
Std of age of those who receives more than 50k per year:  10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [18]:
unique_values_education = data['education'].unique()
print('Education tipes: ', unique_values_education)

Education tipes:  ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']

In [25]:
low_education = ['HS-grad', '11th', '9th', 'Some-college', '7th-8th', '5th-6th', '10th', '1st-4th', 'Preschool', '12th']
high_salary_mask = data['salary'].str.lower() == '>50k'
low_education_mask = data['education'].isin(low_education)
counter_examples = data[high_salary_mask & low_education_mask]
if counter_examples.shape[0] == 0:
  print('Yes, that is true')
else:
  print(f'No, this is false, because in the dataset among those who receive more than 50k per year there are {counter_examples.shape[0]} of those who has lower education')

No, this is false, because in the dataset among those who receive more than 50k per year there are 3306 of those who has lower education

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [26]:
age_for_race_and_sex = data.groupby(['race', 'sex'])['age'].describe()
max_male_age = age_for_race_and_sex.loc[('Asian-Pac-Islander', 'Male'), 'max']

print('Max male age for Asian-Pac-Islander race: ', max_male_age)

Max male age for Asian-Pac-Islander race:  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [32]:
married_mask = data['marital-status'].str.contains('^Married', na=False)
male_mask = data['sex'].str.lower() == 'male'

married_men = data[male_mask & married_mask]
mean_married_man_age = married_men['age'].mean()
print('Average age of married man: ', round(mean_married_man_age))
num_high_salary_married = (married_men[high_salary_mask]).shape[0]
total_married = married_men.shape[0]
if total_married > 0:
    proportion_of_high_salary_married = (num_high_salary_married / total_married) * 100
    print('Proportion of married men with high salary: ', round(proportion_of_high_salary_married, 2))
else:
    print('Proportion of married men with high salary: 0.00% (No married men found)')

single_men = data[male_mask & (~married_mask)]
mean_single_man_age = single_men['age'].mean()
print('Average age of single man: ', round(mean_single_man_age))
num_high_salary_single = (single_men[high_salary_mask]).shape[0]
total_single = single_men.shape[0]
if total_single > 0:
    proportion_of_high_salary_single = (num_high_salary_single / total_single) * 100
    print('Proportion of single men with high salary: ', round(proportion_of_high_salary_single, 2))
else:
    print('Proportion of single men with high salary: 0.00% (No single men found)')

Average age of married man:  44
Proportion of married men with high salary:  44.05
Average age of single man:  32
Proportion of single men with high salary:  8.45

C:\Users\37529\AppData\Local\Temp\ipykernel_17992\4070433476.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  num_high_salary_married = (married_men[high_salary_mask]).shape[0]
C:\Users\37529\AppData\Local\Temp\ipykernel_17992\4070433476.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  num_high_salary_single = (single_men[high_salary_mask]).shape[0]

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [44]:
max_hours_per_week = data['hours-per-week'].max()
print('Max ours per week: ', max_hours_per_week)

hours_mask = data['hours-per-week'] == max_hours_per_week
hard_working_persons = data.loc[hours_mask, 'hours-per-week']
print(f'Number of persons who work for {max_hours_per_week} hours per week: {hard_working_persons.shape[0]}')

hard_working_persons_high_salary = hard_working_persons[high_salary_mask]
percentage_high_salary_max_ours = hard_working_persons_high_salary.shape[0] / hard_working_persons.shape[0] * 100
print(f'Percentage of persons who recieves high salaries and morks for {max_hours_per_week} hours: {round(percentage_high_salary_max_ours, 2)}')

Max ours per week:  99
Number of persons who work for 99 hours per week: 85
Percentage of persons who recieves high salaries and morks for 99 hours: 29.41

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [46]:
mean_work_hours_by_country_and_salary = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
print('Mean working time per week for each country: ', round(mean_work_hours_by_country_and_salary, 2))

Mean working time per week for each country:  native-country  salary
?               <=50K     40.16
                >50K      45.55
Cambodia        <=50K     41.42
                >50K      40.00
Canada          <=50K     37.91
                          ...
United-States   >50K      45.51
Vietnam         <=50K     37.19
                >50K      39.20
Yugoslavia      <=50K     41.60
                >50K      49.50
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [48]:
age_groups = [16, 35, 70, 100]
age_labels = ['young', 'adult', 'retiree']
data['AgeGroup'] = pd.cut(data['age'], bins=age_groups, labels=age_labels, right=False, include_lowest=True)

print(data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary AgeGroup
0          2174             0              40  United-States  <=50K    adult
1             0             0              13  United-States  <=50K    adult
2             0             0              40  United-States  <=50K    adult
3             0             0              40  United-States  <=50K    adult
4             0             0              40           Cuba  <=50K    young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [55]:
data['IsHighSalary'] = high_salary_mask
all_age_groups = data['AgeGroup'].value_counts()
high_salary_in_each_group = data.groupby('AgeGroup')['IsHighSalary'].sum()
proportion_high_salary_in_each_group = high_salary_in_each_group / all_age_groups * 100
print('Number of persons with high salaries in each group: ', high_salary_in_each_group)
group_with_highest_percentage = proportion_high_salary_in_each_group.idxmax()
print(f'Group with biggest percentage: {group_with_highest_percentage}, percentage: {round(proportion_high_salary_in_each_group.max())}')

Number of persons with high salaries in each group:  AgeGroup
young      1488
adult      6240
retiree     113
Name: IsHighSalary, dtype: int64
Group with biggest percentage: adult, percentage: 35

C:\Users\37529\AppData\Local\Temp\ipykernel_17992\694982392.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  high_salary_in_each_group = data.groupby('AgeGroup')['IsHighSalary'].sum()

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [57]:
occupation_groups = data['occupation'].value_counts()
print(occupation_groups)

grouped_by_occupation_df = data.groupby('occupation')

def filter_func(dataset):
  mean_age_mask = dataset['age'].mean() <= 40
  min_hours_mask = dataset['hours-per-week'].min() > 5
  return mean_age_mask and min_hours_mask

filtered_df = grouped_by_occupation_df.filter(filter_func)
result = filtered_df['occupation'].unique()
print('Filtered groups: ', result)

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
Filtered groups:  ['Armed-Forces']